{% extends './layouts/v1/guest.twig' %}

{% block content %}

    <div class="card">
        <div class="header">
            {% if header %}
                <p class="lead">{{ header }}</p>
            {% endif %}
        </div>
        <div class="body">
            {% if description %}
                <p>{{ description }}</p>
            {% endif %}
            <form class="form-auth-small" action="index.html">
                <div class="form-group">                                    
                    <input type="password" class="form-control" id="signup-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">RESET PASSWORD</button>
                <div class="bottom">
                    <span class="helper-text">Know your password? <a href="{{ route('contact.home')}}">Login</a></span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}