[mysqld]
# Encodage Laravel
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Autorise root à se connecter depuis n'importe où
bind-address=0.0.0.0

# Performances
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
query_cache_size = 64M
tmp_table_size = 32M
max_heap_table_size = 32M

# Connexions
max_connections = 151

# Logs
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 2

# Sécurité
skip-name-resolve
